/*@import url(http://markmurray.co/codepen/lineconstyle.css);*/
/*@import url(http://markmurray.co/codepen/socialstyle.css);*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:300|Merriweather|Open+Sans);*/
a, a:visited {
  text-decoration: inherit;
  color: inherit;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*字体*/
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html, body {
  background: white;
  height: 100%;
  font-size: 100%;
}

.close {
  margin-left: 0 !important;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}

aside{
  position: absolute;
  top:10px;
  right:100px;
  z-index: 3;
}

aside nav ul {
  list-style-type: none;
  text-align: center;
}
aside nav ul li {
  color: #ffffff;
  /*border-bottom: 1px dashed #ccc;*/
  opacity: 0.5;
  /*text-transform: uppercase;*/
  font-size: 0.8rem;
  /*text-shadow: 1px 1px 0 white;*/
  float: left;
  margin-left: 50px;
}
aside nav ul li a {
  padding: 2em 0;
  display: block;
}
aside nav ul li i {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}
aside nav ul li:hover, aside nav ul .current {
  opacity: 1;
  /*background: white;*/
  /*-moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);*/
  /*-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);*/
  /*box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);*/
}

.container {
  position: relative;
  z-index: 2;
  /*margin-left: 100px;*/
  height: 100%;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.container section {
  width: 100%;
  position: relative;
}
.container .s-1 {
  height: 100%;
  background: url(../images/banner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  -moz-box-shadow: inset 0 0 0 9999px rgba(52, 73, 94, 0.9);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(52, 73, 94, 0.9);
  box-shadow: inset 0 0 0 9999px rgba(52, 73, 94, 0.9);
  display: table;
}
.container .s-1 .y {
  position: absolute;
  top: 1.8em;
  left: 7em;
  cursor: pointer;
  opacity: 0.6;
}
.container .s-1 .y:hover{
  opacity: 1;
}
.container .s-1 .y a{
  display: block;
  width:40px;
  height:40px;
}

.container .s-1 .snail {
  position:absolute;
  top: 0.2em;
  left: 2.8em;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: -0.1em;
}
.container .s-1 .line{
  padding-right: 0.4em;
}
.container .s-1 .x {
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.6;
  visibility:hidden;
}
.container .s-1 .x:hover {
  opacity: 1;
}
.container .s-1 a.social-arrow-down7 {
  position: absolute;
  color: white;
  text-align: center;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 3em;
  bottom: 1em;
  opacity: 0.4;
  -moz-animation: 1s bounce infinite alternate;
  -webkit-animation: 1s bounce infinite alternate;
  animation: 1s bounce infinite alternate;
}
.container .s-1 a:hover {
  opacity: 1;
}
.container .s-1 .centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(80, 80, 80, 0.8);
  width:100%;
}
.container .s-1 .centered h1 {
  font-size: 8vw;
  line-height: 1.8;
  font-weight: bolder;
}
.container .s-1 .centered img {
  width:50%;
  margin: -1em;
}
.container .s-3 {
  background: #e74c3c;
  text-align: center;
  padding: 2em 0 3em 0;
  font-family: 'Montserrat', sans-serif;
}
.container .s-3 .filter {
  color: white;
  font-size: 0.9rem;
  margin: 2em 0 3em;
  font-weight: lighter;
}
.container .s-3 .filter li {
  display: inline-block;
  padding: 0.75em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  border: 1px solid #e74c3c;
}
.container .s-3 .filter li:first-child {
  opacity: 1;
}
.container .s-3 .filter li:not(:first-child):hover {
  border: 1px solid white;
  opacity: 1;
}
.container .s-3 .filter li.active {
  background: white;
  color: #34495e;
  opacity: 1;
}
.container .s-3 ul.portfolio {
  width: 100%;
  margin:0 auto;
  max-width: 1120px;
}
.container .s-3 ul.portfolio li {
  display: inline-block;
  margin: 5px;
  width: 270px;
  height : 270px;
}
.container .s-3 ul.portfolio a:hover{
  box-shadow:0 0 10px rgba(0,0,0,0.8);
}
.container .box{
  display: block;
  border: 1px solid #ffffff;
}
.container .box img{
  display: block;
  width:100%;
  height:100%;
}

.container .s-2 {
  padding: 2em;
  background: white;
  border-left: 1px solid #ccc;
}

.container .s-4{
  background: #f1c40f;
  padding: 2em;
}
.container .s-4 h3{
  color: #000000;
}
.container .s-4 .s4-hrline{
  width: 40px;
  border-top:1.8px solid #000000;
  margin: 0 auto;
}
#skill_list {
  margin: 80px auto 0;
  width: 100%;
  font-size: 16px;
  max-width: 1260px;
  /*height: 400px;*/
  /*overflow: hidden;*/
}
#skill_list .skill_center{
  margin:0 50px;
}
#skill_list ul {
  list-style: disc;
  list-style-position: inside;
}
.skill_list_content {
  float: left;
  margin: 0 50px;
  position: relative;
  height: 400px;
  width: 320px;
  visibility: visible;
}
#skill_list2{
  display: inline-block;
  /*margin:0 1% 0 30%;*/
}
#skill_list3{
  display: inline-block;
  /*margin:0 8%;*/
}
#skill_list4{
  display: inline-block;
  /*margin:0 15% 0 1%;*/
}
.skill_icon {
  cursor: pointer;
  background-size: 100%;
  width: 90px;
  height: 100px;
  text-align: center;
  margin: 30px auto;
  webkit-transform: scale(1.0);
  transform: scale(1.0);
  transition : transform .25s;
}
.skill_icon:hover{
  webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition : transform .25s;
}
#skill_icon2{
  background: url("../images/html.png") no-repeat ;
}
#skill_icon3{
  background: url("../images/css.png") no-repeat ;
}
#skill_icon4{
  background: url("../images/js.png") no-repeat ;
}
.skill_name {
  text-align: center;
  width: 100%;
  position: relative;
}
.skill_flag {
  margin: 20px auto;
  width: 20px;
  height: 20px;
  background: url("../images/skill_flag.png");
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.skill_flag_scale {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.skill_int {
  /*position: absolute;*/
  /*top: 250px;*/
  /*width: 320px;*/
  /*left: -136px;*/
  font-size: 14px;
  line-height: 20px;
  display: none;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px;
}
.skill_int li {
  font-size: 12px;
  padding-left: 15px;
}

.container .contact-strip {
  background: #1abc9c;
  font-family: 'Merriweather', sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 2em 0;
  font-weight: lighter;
}
.container .contactfloat {
  max-width: 270px;
  margin: 0 auto;
}
.container .contact-tel{
  font-size: 0.9rem;
  float: left;
  padding-top: 3px;
}
.container .contact-tel p{
  font-size: 0.9rem;
}
.container .contact-strip button {
  color: white;
  padding: 0.5em 1em;
  border: 2px solid white;
  background: transparent;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-left: 2em;
  cursor: pointer;
  border-radius: 3px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .contact-strip button i {
  font-size: 1.2rem;
  /*margin-right: 0.5em;*/
  font-weight: bold;
}
.container .contact-strip button:hover {
  background: white;
  color: #34495e;
}
.container .social-strip ul.social-links {
  color: white;
  text-align: center;
}
.container .social-strip ul.social-links li {
  display: inline-block;
  width: calc(100%/6);
  font-size: 1.5rem;
}
.container .social-strip ul.social-links li:hover {
  opacity: 0.8;
}
.container .social-strip ul.social-links li a {
  padding: 1.5em 0;
  display: block;
}
.container .social-strip ul.social-links li:nth-child(1) {
  background: #3b5998;
}
.container .social-strip ul.social-links li:nth-child(2) {
  background: #00a0d1;
}
.container .social-strip ul.social-links li:nth-child(3) {
  background: #0063dc;
}
.container .social-strip ul.social-links li:nth-child(4) {
  background: #3f729b;
}
.container .social-strip ul.social-links li:nth-child(5) {
  background: #81b71a;
}
.container .social-strip ul.social-links li:nth-child(6) {
  background: #c8232c;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

#toTop{
  width: 45px;
  height: 45px;
  background: rgba(52, 73, 94, 0.8);
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  z-index: 999;
  padding:5px;
  display: none;
  border-radius: 5px;
}
#toTop img{
  opacity: 0.8;
}

p {
  font-family: Merriweather, sans-serif;
  margin-bottom: 1em;
  font-size: 1rem;
  line-height: 1.8;
}
/*p:first-of-type:first-letter {
  font-size: 3rem;
  float: left;
  margin: 0.5em 0.5em 0;
  line-height: 0.25;

}*/
p .me{
  font-size: 3rem;
  margin: 0.5em 0.5em 0;
  line-height: 0.25;
}

h3 {
  font: 1.2rem/3 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding: 0.5em 1em;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font: 0.9rem/2 Merriweather, sans-serif;
  font-style: italic;
  color: #666;
  border-left: 5px solid #ccc;
  padding-left: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

hr {
  width: 40px;
  border-top: 0.5px solid;
  border-color: white;
  margin: 0 auto;
}
@media screen and (max-width: 1260px){
  #skill_list {
    width: 840px;
  }
}
@media screen and (max-width: 840px) {
  #skill_list {
    width: 420px;
  }
}

/*@media (max-width: 800px) {
  .s-3 ul.portfolio li {
    width: 50% !important;
  }

  .content {
    padding: 0;
  }
}*/
/* Sass Keyframes Mixin */
@-webkit-keyframes bounce {
  from {
    bottom: 0.5em;
  }

  to {
    bottom: 1em;
  }
}
@-moz-keyframes bounce {
  from {
    bottom: 0.5em;
  }

  to {
    bottom: 1em;
  }
}
@-o-keyframes bounce {
  from {
    bottom: 0.5em;
  }

  to {
    bottom: 1em;
  }
}
@keyframes bounce {
  from {
    bottom: 0.5em;
  }

  to {
    bottom: 1em;
  }
}

@media screen and (max-width: 840px){
  .container .s-1 .x{
    visibility: visible;
  }
  aside{
    height: 100%;
    width: 100px;
    background: #e8eaef;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    -moz-box-shadow: 1px 0 0px 0 #cccccc;
    -webkit-box-shadow: 1px 0 0px 0 #cccccc;
    box-shadow: 1px 0 0px 0 #cccccc;
    z-index: 0;
  }

  aside nav ul li {
    color: #34495e;
    border-bottom: 1px dashed #ccc;
    opacity: 0.5;
    font-size: 0.8rem;
    float: none;
    margin: 0;
  }

  aside nav ul li:hover, aside nav ul .current {
    opacity: 1;
    background: white;
    -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .container {
    margin-left: 100px;
  }

  .container .s-1 .y {
    right: 7em;
    left: auto;
  }
}