@charset "utf-8";
/* CSS Document */
/*样式重置开始*/
*{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}
a{
	text-decoration:none;
	}
input{
	border:none;
	}
/*样式重置结束*/
/*header样式开始*/
#header{
	background-color:#000;
	}
.header_inner{
	width:1285px;
	height:108px;
	margin:0 auto;
	}
.nav_left,.logo,.nav_right{
	float:left;
	}
.header_inner ul{
	padding-top:24px;
	}
.header_inner ul li{
	float:left;
	line-height:60px;
	text-align:center;
	font-family:"Arial";
	font-size:18px;
	text-transform:uppercase;
	}
.header_inner li a:hover{
	color:#f8e026;
	}
.nav_left li{
	border-right:1px solid #343434;
	}
.nav_right li{
	border-left:1px solid #343434;
	}
.home{
	width:116px;
	color:#fff;
	display:block;
	}
.services{
	width:155px;
	color:#fff;
	display:block;
	}
.projects{
	width:160px;
	color:#fff;
	display:block;
	}
.logo{
	width:378px;
	padding-top:39px;
	padding-left:38px;
	}
.prices{
	width:138px;
	color:#f8e026;
	display:block;
	}
.about{
	width:127px;
	color:#fff;
	display:block;
	}
.quote{
	width:167px;
	color:#fff;
	display:block;
	}
/*header样式结束*/
/*icons样式开始*/
#icons{
	width:900px;
	height:29px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
	position:relative; 
	}
.icons_wrap{
	width:100px;
	background-color:#fff;
	position:absolute;
	left:400px;
	top:16px;
	}
.icons_wrap a{
	height:26px;
	display:block;
	background-image:url(../images/btn_twitter_facebook.png);
	}
.twitter{
	width:27px;
	background-position:left top;
	float:left;
	margin-left:16px;
	}
.facebook{
	width:26px;
	background-position:right top;
	float:right;
	margin-right:16px;
	}
.twitter:hover{
	background-position:left bottom;
	}
.facebook:hover{
	background-position:right bottom;
	}
/*icons样式结束*/
#title{
	width:1255px;
	height:145px;
	margin:0 auto;
	padding-top:129px;
	padding-left:30px;
	}
#title h2{
	line-height:30px;
	font-family:"Arial Black";
	font-size:44px;
	text-transform:uppercase;
	}
#title p{
	line-height:20px;
	font-family:"Arial";
	font-size:28px;
	text-transform:uppercase;
	}
.title_left,.title_centre{
	width:447px;
	height:54px;
	background:url(../images/bg_price_1.jpg) no-repeat left 5px;
	float:left;
	}
.title_left h2{
	margin-left:94px;
	}
.title_left p{
	margin-left:109px;
	}
.title_centre h2{
	margin-left:134px;
	}
.title_centre p{
	margin-left:98px;
	}
.title_centre{
	background:url(../images/bg_price_2.jpg) no-repeat left 5px;
	}
.title_right{
	height:54px;
	background:url(../images/bg_price_3.jpg) no-repeat left 5px;
	float:left;
	}
.title_right h2{
	margin-left:75px;
	}
.title_right p{
	margin-left:88px;
	}
/*footer样式开始*/
/*main样式开始*/
#main{
	height:1103px;
	}
.main_top{
	width:1285px;
	height:760px;
	margin:0 auto;
	}
.custom{
	width:872px;
	height:123px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin:0 auto;
	padding-top:40px;
	margin-bottom:29px;
	}
.custom p{
	width:508px;
	line-height:89px;
	font-family:"Georgia";
	font-size:26px;
	float:left;
	margin-left:31px;
	}
.dollar{
	font-family:"Arial";
	font-size:30px;
	font-weight:bold;
	}
.submit{
	position:relative;
	float:left;
	}
.submit input{
	width:302px;
	height:77px;
	background-color:#f9e33f;
	border:2px solid #cdb91a;
	font-family:"Arial";
	font-size:20PX;
	font-weight:bold;
	text-transform:uppercase;
	}
.submit_line{
	width:298px;
	height:1px;
	background-color:#fff;
	position:absolute;
	left:2px;
	top:2px;
	}
.features{
	height:595px;
	}
.features h3{
	line-height:129px;
	font-family:"Arial";
	font-size:24px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:10px;
	}
.features ul{
	margin-left:30px;
	}
.features li{
	line-height:37px;
	font-family:"Arial";
	font-size:18px;
	color:#5d6661;
	float:left;
	padding-left:50px;
	background:url(../images/bg_star.jpg) no-repeat left center;
	}
.features .features_left{
	width:412px;
	}
.main_mid{
	background-color:#f8f8f8;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin-bottom:60px;
	}
.main_mid_inner{
	width:675px;
	height:121px;
	margin:0 auto;
	}
.main_mid_inner P{
	line-height:121PX;
	font-family:"Arial";
	font-size:29px;
	float:left;
	text-transform:uppercase;
	letter-spacing:8px;
	}
.main_mid_inner form{
	float:right;
	padding-top:42px;
	}
.arrows{
	width:40px;
	height:41px;
	background:url(../images/arrows_03.jpg);
	}
.yellow{
	width:1200px;
	height:86px;
	background-color:#f8e338;
	padding-top:19px;
	position:relative;
	margin:0 auto;
	}
.yellow h3{
	line-height:38px;
	font-family:"Arial Black";
	font-size:30px;
	margin-left:32px;
	}
.yellow p{
	line-height:26px;
	font-family:"Georgia";
	font-size:14px;
	margin-left:30px;
	}
.black_input{
	width:130px;
	height:40px;
	font-family:"Arial";
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#000;
	border-radius:7px;
	position:absolute;
	right:24px;
	bottom:32px;
	}
/*main样式结束*/
#footer{
	width:1285px;
	height:438px;
	margin:0 auto;
	}
.footer_line{
	width:871px;
	height:10px;
	background-color:#000;
	margin:0 auto;
	}
.company{
	width:310px;
	padding-left:50px;
	float:left;
	}
.company h3{
	line-height:72px;
	font-family:"Arial Bold";
	font-size:25px;
	}
.company p{
	line-height:25px;
	font-family:"Georgia";
	font-size:15px;
	color:#6d665e;
	margin-bottom:21px;
	}
.company a{
	width:180px;
	display:block;
	line-height:45px;
	font-family:"Arial Regular";
	font-size:13px;
	text-align:center;
	font-weight:bold;
	background-color:#fdfdfd;
	border:1px solid #cdcdcd;
	color:#000;
	text-transform:uppercase;
	}
.contact{
	width:304px;
	float:left;
	}
.contact h3{
	line-height:72px;
	font-family:"Arial Bold";
	font-size:25px;
	}

.contact P{
	line-height:24px;
	font-family:"Georgia";
	font-size:15px;
	color:#6d665e;
	}
.contact_top P{
	font-size:16px;
	}
.contact h4{
	line-height:35px;
	font-family:"Arial";
	font-size:12px;
	text-transform:uppercase;
	}
.office{
	padding-bottom:4px;
	}
.mailing{
	padding-top:1px;
	padding-bottom:12px;
	}
.contact li{
	line-height:24px;
	font-family:"Georgia";
	font-size:15px;
	color:#6d665e;
	}
.contact ul a{
	color:#000;
	font-weight:bold;
	}
.clients{
	width:305px;
	padding-top:1px;
	float:left;
	}
.clients_top h3{
	line-height:70px;
	font-family:"Arial Bold";
	font-size:25px;
	padding-left:2px;
	}
.clients_top li{
	line-height:21px;
	font-family:"Georgia Regular";
	font-size:15px;
	}
.footer_right{
	float:left;
	}
.footer_right h3{
	line-height:72px;
	font-family:"Arial Bold";
	font-size:25px;
	}
.footer_right p{
	line-height:24px;
	font-family:"Georgia";
	font-size:15px;
	color:#6d665e;
	}
.email_box{
	width:281px;
	height:47px;
	padding-top:25px;
	}
.input_box{
	width:214px;
	height:41px;
	line-height:41px;
	font-family:"Arial";
	font-size:20px;
	color:#99989b;
	border-top:3px solid #dbdbdb;
	border-left:3px solid #dbdbdb;
	border-bottom:3px solid #dbdbdb;
	padding-left:17px;
	float:left;
	}
.go{
	width:47px;
	height:47px;
	background:url(../images/btn_go.png);
	float:left;
}
.footer_right_line{
	width:281px;
	height:33px;
	border-bottom:1px solid #ccc;
	margin-bottom:30px;
	}
.copy{
	line-height:19px;
	font-family:"Georgia Regular";
	font-size:12px;
	color:#6d665e;
	}
.footer_right li{
	float:left;
	line-height:44px;
	color:#6d665e;
	padding-right:13px;
	}
.footer_right ul a{
	font-family:"Georgia Regular";
	font-size:12px;
	color:#000;
	font-weight:bold;
	}
/*footer样式结束*/
/*适配*/
@media screen and (max-width: 980px){
	html,body{
		width: 1285px;
	}
}